<%- include("partials/header.ejs") -%>
<h1>SG Carpark</h1>
<p><%= date %></p>
<form action="/search" method="post">
	<input type="text" placeholder="Search area, building, carpark etc." />
	<button type="submit">Search</button>
</form>
<%- include("partials/footer.ejs") -%>
