body {
	text-align: center;
}

.table {
	width: 30%;
}

.td-label {
	width: 10%;
	height: 20px;
}

.td-value {
	width: 20%;
	height: 20px;
}

.table {
	width: 512px;
	height: 512px;
}

.search-panel {
	width: 1024px; /* 512px x 2 */
	position: relative;
}

.search-input {
	width: 60%;
	height: 50px;
}

.search-btn {
	width: 20%;
}

.map-result,
.rate-result {
	width: 512px;
	height: 512px;
	padding: 0;
}

.date {
	background-color: whitesmoke;
	border: 1px solid lightgrey;
	font-size: large;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 20%;
}

#search-google-btn {
	width: 100%;
	color: white;
}

#carpark-names {
	background-color: white;
	border: 1px solid lightgrey;
	border-top: none;
	height: fit-content;
	margin: auto;
	position: absolute;
	left: 20%;
	width: 60%;
	text-align: start;
}

.carpark-name {
	padding: 7px 7px;
	margin: 0;
	cursor: default;
}

#loading-spinner {
	display: flex;
	background-color: white;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	z-index: 100;
}
